{% extends "base/index.html" %}

{% block maincontent %}

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>

<!-- Date Range Picker http://www.daterangepicker.com/#ex4 -->
<script src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<script>

var gSensors;

function populateSensors(selectIn, selectOut)
{
  var idx = selectIn.selectedIndex;
  var sensorType = selectIn[idx].text;
  {
    $.get("http://192.168.0.106:8000/api/sensors/" + sensorType,
          function(data, status) {
      fillSelect(data, selectOut)
    });
  }

  selectOut.selectedIndex = 0;
}

function fillSelect(jsonReply, selectOut)
{
  gSensors = jsonReply;
  var length = gSensors.length;

  selectOut.length = length + 1

  for (i= 0; i < length; i++)
  {
    selectOut[i+1].text = (gSensors[i].name);
  }
}

function formatData(serializerData) {
  formattedData = [];
  $.each(serializerData, function(key, value) {
    var date = new Date(value.created);
    formattedData.push([date.getTime(), parseFloat(value.payload)]);
  }); 
  return formattedData;
}

function formatDateRange(dates_str) {
  // convert from daterangepicker string to seconds since epoch
  var dates = dates_str.split(" - ");
  return Date.parse(dates[0])/1000 + "&" + Date.parse(dates[1])/1000;
}

function initializeChart() {
  $('#chart').highcharts({
    chart: {
      type: 'line',
      zoomType: 'x',
      showAxes: true
    },
    title: {
      text: 'Sensor Data Over Time'
    },
    xAxis: {
      type: 'datetime'
    },
    yAxis: [{
      title: {
        text: ""
      },
      id: 'default-axis',
    }],
    plotOptions: {
      series: {
        marker: {
          enabled: false
        },
        lineWidth: 4
      }
    },
  });
}

// Return an array of the selected opion values
// select is an HTML select element
function getSelectValues(select) {
  var result = [];
  var options = select && select.options;
  var opt;

  for (var i=0, iLen=options.length; i<iLen; i++) {
    opt = options[i];

    if (opt.selected) {
      result.push(opt);
    }
  }
  return result;
}

function addToChart(selectIn) {
  var chart = $('#chart').highcharts();
  var dateRange = formatDateRange(
    document.forms["dateRange"]["Date Range"].value
  );

  var selected = getSelectValues(selectIn); 

  selected.map(function(opt) {
    s = gSensors[opt.index-1];
    if (typeof s != "undefined") {
      // Remove duplicate sensor in case of new desired date range
      var duplicateSensor = chart.get(s.node_id + "." + s.sensor_id)
      if (duplicateSensor) duplicateSensor.remove();

      // Add axis for sensor type if not already present
      var firstAxis = chart.get("default-axis") != null;
      if (chart.get(s.sensor_type + "-axis") == null) {
        chart.addAxis({
          title: {
            text: s.sensor_type
          },
          id: s.sensor_type + "-axis",
          opposite: !firstAxis,
        },
          redraw = false
        );
      }
      if (firstAxis) chart.get("default-axis").remove();

      // Add sensor data series to chart
      $.getJSON("http://192.168.0.106:8000/api/controllers/" + s.controller_id
                + "/nodes/" + s.node_id + "/sensors/" + s.sensor_id + "/data/"
                + dateRange, function( data ) {
        var series = formatData(data);

        chart.addSeries({
          yAxis: s.sensor_type + "-axis",
          name: s.name,
          id: s.node_id + "." + s.sensor_id,
          data: series,
          redraw: false,
        });
      });
    }
  })
  chart.redraw();
}

function clearChart() {
  $('#chart').highcharts().destroy();
  initializeChart();
}

$(document).ready(function() {
  // display times in local timezone
  Highcharts.setOptions({
    global: {
      useUTC: false
    }
  })

  initializeChart();

  $('input[name="Date Range"]').daterangepicker({
    ranges: {
       'Today': [moment(), moment()],
       'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
       'Last 7 Days': [moment().subtract(6, 'days'), moment()],
       'Last 30 Days': [moment().subtract(29, 'days'), moment()],
       'This Month': [moment().startOf('month'), moment().endOf('month')],
       'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
    },
    drops: "up",
    autoApply: true,
  });
});

</script>


  <br>
  <div id="chart" align="center" style="width:95%; height:60%; margin:auto; padding-top: 50px;"></div>
  <div id="chartControls" style="margin-left:3%;">
    <form name="dateRange">
      <p>
        <input type="text" name="Date Range"/>
      </p>
    </form>
    <form name="sensorType">
      <p>
        <select name="Sensor Type" onChange="populateSensors(this, Sensor);">
          <option>Select Sensor Type</option>
          <option>co2</option>
          <option>temperature</option>
          <option>humidity</option>
        </select>
        <select multiple name="Sensor" onChange="addToChart(this);">
          <option>Add Sensor</option>
        </select>
      </p>
    </form>
    <p>
      <button id="buttonClear" onclick="clearChart();">Clear</button>
    </p>
  </div>

{% endblock %}
