<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>

<div id="container" style="width:100%; height:400px;"></div>

<script>

var sensors;

function generateGraph(selectIn)
{
  var idx = selectIn.selectedIndex;
  var sensor = sensors[idx];

  if (idx != 0)
  {
    drawGraph(sensor.controller_id, sensor.node_id, sensor.sensor_id);
  }
}

function populateSensors(selectIn, selectOut)
{
  var idx = selectIn.selectedIndex;
  var val = selectIn[idx].text;
  var par = document.forms["sensorType"];
  var parelmts = par.elements;
  var sensorType = val;

  if (sensorType != "Select Sensor Type")
  {
    $.get("http://192.168.0.106:8000/api/sensors/" + sensorType, 
      function(data, status){
            fillSelect(data, selectOut)
    });
  }
}

function fillSelect(jsonReply, selectOut)
{
  sensors = jsonReply;
  var length = sensors.length;

  selectOut.length = length + 1

  for (i= 0; i < length; i++)
  {
    selectOut[i+1].text = (sensors[i].name);
  }
}

function drawGraph(controller, node, sensor) {
	$.get( "http://192.168.0.106:8000/api/controllers/" + controller + "/nodes/" + node + "/sensors/" +
            sensor + "/data/", function( data ) {

		var dataset = [];

		// format data for Highcharts
		$.each(data, function(key, value) {
			var date = new Date(value.created);
			dataset.push([date.getTime(), parseFloat(value.payload)]);
		});

		// display times in local timezone
		Highcharts.setOptions({
			global: {
				useUTC: false
			}
		})

		$('#container').highcharts({
			chart: {
				zoomType: 'x'
			},
			title: {
				text: 'Payload over Time'
			},
			subtitle: {
				text: document.ontouchstart === undefined ?
						'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
			},
			xAxis: {
				type: 'datetime'
			},
			yAxis: {
				title: {
					text: 'Payload'
				}
			},
			legend: {
				enabled: false
			},
			plotOptions: {
				area: {
					fillColor: {
						linearGradient: {
							x1: 0,
							y1: 0,
							x2: 0,
							y2: 1
						},
						stops: [
							[0, Highcharts.getOptions().colors[0]],
							[1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
						]
					},
					marker: {
						radius: 2
					},
					lineWidth: 1,
					states: {
						hover: {
							lineWidth: 1
						}
					},
					threshold: null
				}
			},

			series: [{
				type: 'area',
				name: 'Payload over Time',
				data: dataset
			}]
		});
	});
}
</script>

<form name="sensorType">
<p>
    <select name="Sensor Type" onChange="populateSensors(this, Sensor);">
        <option>Select Sensor Type</option>
        <option>co2</option>
        <option>temperature</option>
        <option>humidity</option>
    </select>

    <select name="Sensor" onChange="generateGraph(this);">
        <option>Select Sensor</option>
    </select>
</p>
</form>


