{% extends "base/base.html" %}
{% load staticfiles %}
{% load tz %}
<!DOCTYPE html>
<html>
    <div id="content" class="container">
    {% for room in rooms %}
        <div class="row-fluid">
            <h1>{{room.name}}</h1>
        {% for sensor in room.list_sensors %}
            <div class="col-sm-6" style="text-align: center">
                {{ sensor.as_html|safe }}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js"%}"></script>
  </body>
</html>

